<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>


<img id="pic2" src="/assets/sample.jpg"><br><br>


    <h1 align="center">전국MT자랑대회 </h1><br>

<p id="mt-boast-button">
    <button type="button" class="btn btn-outline-danger" onclick="location.href='/note/food'">음식자랑대회</button> &nbsp&nbsp&nbsp
    <button type="button" class="btn btn-outline-danger" onclick="location.href='/note/activity'">활동자랑대회</button> &nbsp&nbsp&nbsp
</p>



