<img id="pic3" src="/assets/main1.jpg"><br><br>
<h1 align="center"> 아니 MT 와서 고기도 안먹는다고? </h1><br>

<p align="center">
    <img id="pic_angry" src="/assets/calu_angry_pic.jpg" >
</p>

<form class="form-inline" role="form">
    <fieldset style = "width:200" >
          <input class="form-control" type="button" value="뒤로가기" onclick="history.back()">
    </fieldset>
</form>